.select-card-button:hover .unchecked {
  border-color: hsl(227, 50%, 59%);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.checked-square {
  height: 25px;
  width: 25px;
}

button:focus {
  outline: none;
}
